<div id="about" class="wow bounceInUp">
    <div class="container">
        <h1>מידע עלינו</h1>
        <div class="body-about">
                כרטיס ביקור דיגיטלי הוא הכרחי לכל עסק כיום, כפי שפעם היה כרטיס הנייר ואנחנו ב-B-share שמנו לנו למטרה להיות בחזית הטכנולוגית של התחום. לשם כך השקענו מאמצים רבים בפיתוח מערכת כרטיסי הביקור הדיגיטליים החכמה והמתקדמת בישראל, שתסייע לבעלי עסקים לייצר כרטיסי ביקור שיעלו את מיתוג העסק שלהם לרמה הבאה.
                
                ביחד עם חווית שימוש קלה ונעימה – מעולם לא היה פשוט יותר לייצר כרטיסי ביקור מעוצבים, דינמיים וקלים להפצה אשר יסייעו לכם לקדם ולשווק את כרטיס הביקור הדיגיטלי של העסק שלכם כמעט מבלי להשקיע זמן ומשאבים.
        </div>
        <div class="img-about">
            <img src="images/phone_visitcard.jpg">
        </div>
    </div>
</div>  
