/* lg */
@media (min-width: 1200px) {}


/* md */
@media (min-width: 992px) and (max-width: 1199px) {
    .text-section iframe {
        width: 650px;
        height: 270px;
        border: 0;
    }
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) { 
    .navbar-right li a {
		font-size: 12px;
		padding-right: 10px;
    }

    .text-section iframe {
        width: 650px;
        height: 270px;
        border: 0;
    }
}

/* xs */
@media (max-width: 767px) {
    body {
		font-size: 14px;
    }
    .header-img .caption h1 {
		font-size: 40px;
	}
	.header-img .caption {
		font-size: 15px;
		padding: 0 30px;
	}
    .navbar-brand {
		padding: 0 15px 15px;
	}
	.navbar-toggle {
	  border:1px solid tomato;
	}

	.navbar-toggle .icon-bar {
	  background-color: tomato;
    }
    .little-info-illustration-inside ul{
        margin-right: 40px;
    }
	.navbar-right li a {
		font-size: 13px;
		padding-bottom: 8px;
		padding-top: 10px;
    }

    .navbar-brand{
        margin-top: -2px;
    }

    .block-illustration .big-illustration img{
        width: 150px;
        height: 300px;
    }

    #about-us h1{
        font-size: 25px;
    }
    
    #about-us .about-text{
        text-decoration: rtl;
        line-height: 1;
        text-align: right;
        font-size: 12px;
    }

    #about .body-about {
        font-size: 12px;
    }

    #about .img-about img {
        width: 100px;
        height: 250px;
    }

    .social-media li{
        font-size: 20px;
    }

    .text-section iframe {
        width: 400px;
        height: 270px;
        border: 0;
    }
    
}

/* XS Portrait */
@media (max-width: 479px) {
    .social-media li{
        font-size: 20px;
    }

    .text-section .info-on {
        margin: 20px;
    }

    .text-section iframe {
        width: 300px;
        height: 270px;
        border: 0;
    }
}